################################################################################
# この .gitignore ファイルは Microsoft(R) Visual Studio によって自動的に作成されました。
################################################################################

*.user
*.pfx
*.bak
* - コピー
* - コピー.*
* - コピー (*

.vs/
bin/
obj/
BundleArtifacts/
packages/
AppPackages/


/C#でTDD
/UwpForefront/UF03/XamarinFormsSample.sln
