################################################################################
# この .gitignore ファイルは Microsoft(R) Visual Studio によって自動的に作成されました。
################################################################################

/C#でTDD
/UwpForefront/UF01/UF01/bin/x86
/UwpForefront/UF01/UF01/obj
*.pfx
/UwpForefront/UF01/.vs/UF01
