################################################################################
# この .gitignore ファイルは Microsoft(R) Visual Studio によって自動的に作成されました。
################################################################################

*.user
*.pfx
*.bak

.vs/
bin/
obj/
packages/

/C#でTDD
/UwpForefront/UF03/XamarinFormsSample.sln
