<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10" xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest" xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10" IgnorableNamespaces="uap mp">
  <Identity Name="494de943-2c06-4dad-a1e2-db58ab860e40" Version="1.0.0.0" Publisher="CN=biac" />
  <mp:PhoneIdentity PhoneProductId="494de943-2c06-4dad-a1e2-db58ab860e40" PhonePublisherId="00000000-0000-0000-0000-000000000000" />
  <Properties>
    <DisplayName>PwaSample</DisplayName>
    <PublisherDisplayName>biac</PublisherDisplayName>
    <Logo>images\storelogo.png</Logo>
  </Properties>
  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.0.0" MaxVersionTested="10.0.0.0" />
  </Dependencies>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" StartPage="https://mobile.twitter.com">
      <uap:ApplicationContentUriRules>
        <uap:Rule Match="https://*.twitter.com" Type="include" WindowsRuntimeAccess="all" />
        <uap:Rule Match="https://*.*" Type="include" WindowsRuntimeAccess="none" />
        <uap:Rule Match="http://*.*" Type="include" WindowsRuntimeAccess="none" />
      </uap:ApplicationContentUriRules>
      <uap:VisualElements DisplayName="PwaSample" Description="PwaSample" BackgroundColor="transparent" Square150x150Logo="images\Square150x150Logo.png" Square44x44Logo="images\Square44x44Logo.png">
        <uap:DefaultTile Wide310x150Logo="images\Wide310x150Logo.png" Square310x310Logo="images\LargeTile.png" Square71x71Logo="images\SmallTile.png">
        </uap:DefaultTile>
        <uap:SplashScreen Image="images\splashscreen.png" BackgroundColor="#00a2e8" />
      </uap:VisualElements>
      <Extensions>
        <uap:Extension Category="windows.shareTarget">
          <uap:ShareTarget>
            <uap:SupportedFileTypes>
              <uap:FileType>.jpg</uap:FileType>
              <uap:FileType>.jpeg</uap:FileType>
              <uap:FileType>.png</uap:FileType>
              <uap:FileType>.gif</uap:FileType>
            </uap:SupportedFileTypes>
            <uap:DataFormat>Text</uap:DataFormat>
            <uap:DataFormat>Bitmap</uap:DataFormat>
            <uap:DataFormat>WebLink</uap:DataFormat>
          </uap:ShareTarget>
        </uap:Extension>
      </Extensions>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>