<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10" xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest" xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
         xmlns:uap5="http://schemas.microsoft.com/appx/manifest/uap/windows10/5" xmlns:rescap="http://schemas.microsoft.com/appx/manifest/foundation/windows10/restrictedcapabilities" 
  IgnorableNamespaces="uap mp uap5 rescap">
  <Identity Name="09e33c42-5b41-49a9-9e9f-2cd41e88bf5f" Publisher="CN=biac" Version="1.0.0.0" />
  <mp:PhoneIdentity PhoneProductId="09e33c42-5b41-49a9-9e9f-2cd41e88bf5f" PhonePublisherId="00000000-0000-0000-0000-000000000000" />
  <Properties>
    <DisplayName>UF12</DisplayName>
    <PublisherDisplayName>biac</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.0.0" MaxVersionTested="10.0.0.0" />
  </Dependencies>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="UF12.App">
      <uap:VisualElements DisplayName="UF12" Square150x150Logo="Assets\Square150x150Logo.png" Square44x44Logo="Assets\Square44x44Logo.png" Description="UF12" BackgroundColor="transparent">
        <uap:DefaultTile Wide310x150Logo="Assets\Wide310x150Logo.png" ShortName="UF12" Square310x310Logo="Assets\LargeTile.png" Square71x71Logo="Assets\SmallTile.png">
          <uap:ShowNameOnTiles>
            <uap:ShowOn Tile="square150x150Logo" />
            <uap:ShowOn Tile="wide310x150Logo" />
            <uap:ShowOn Tile="square310x310Logo" />
          </uap:ShowNameOnTiles>
        </uap:DefaultTile>
        <uap:SplashScreen Image="Assets\SplashScreen.png" />
      </uap:VisualElements>
      <Extensions>
        <uap5:Extension Category="windows.startupTask" Executable="UF12.exe" EntryPoint="UF12.App">
          <uap5:StartupTask TaskId="UF12StartupId" Enabled="false" DisplayName="UF12 AutoStartup" />
        </uap5:Extension>
        <uap5:Extension Category="windows.appExecutionAlias"
                        Executable="UF12.exe" EntryPoint="UF12.App">
          <uap5:AppExecutionAlias>
            <uap5:ExecutionAlias Alias="UF12.exe"/>
            <uap5:ExecutionAlias Alias="UF12AnotherAlias.exe"/>
          </uap5:AppExecutionAlias>
        </uap5:Extension>
      </Extensions>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
    <rescap:Capability Name="confirmAppClose" />
  </Capabilities>
</Package>